In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# import raw file from dataset

u = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRUDSAB.csv')

display(u.shape)# show shape and head
u[:5]

/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_13205/1788243214.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  u = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRUDSAB.csv')

(24930, 66)

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,UDS013,UDS013_UNIT,UDS013_NORM,UDS013A,UDS005,...,UDS010,UDS010_UNIT,UDS010_NORM,UDS010A,UDS011,UDS011_UNIT,UDS011_NORM,UDS002_dt,AB001A_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,1.0,NaN,1.0,-2.0,-2.0,1
1,NaN,NaN,WK1,NaN,15037,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,6.0,6.0,1
2,NaN,NaN,WK2,NaN,15040,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,16.0,1
3,NaN,NaN,WK3,NaN,15043,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,22.0,22.0,1
4,NaN,NaN,WK4,NaN,15046,0.0,NaN,0.0,NaN,1.0,...,1.0,NaN,1.0,NaN,0.0,NaN,0.0,34.0,34.0,1

In [3]:
# observe columns

u.columns

Index(['PATIENTNUMBER', 'SITE', 'VISIT', 'PATIENTID', 'VISITID', 'UDS013',
       'UDS013_UNIT', 'UDS013_NORM', 'UDS013A', 'UDS005', 'UDS005_UNIT',
       'UDS005_NORM', 'UDS005A', 'AB001', 'AB001_UNIT', 'AB001_NORM', 'AB001A',
       'AB001B', 'AB001B_UNIT', 'AB001B_NORM', 'AB002', 'UDS001',
       'UDS001_UNIT', 'UDS001_NORM', 'UDS001A', 'UDS001A_UNIT', 'UDS001A_NORM',
       'UDS001B', 'UDS002', 'UDS003', 'UDS003_UNIT', 'UDS003_NORM', 'UDS004',
       'UDS004_UNIT', 'UDS004_NORM', 'UDS011A', 'UDS012', 'UDS012_UNIT',
       'UDS012_NORM', 'UDS012A', 'UDS006', 'UDS006_UNIT', 'UDS006_NORM',
       'UDS006A', 'UDS007', 'UDS007_UNIT', 'UDS007_NORM', 'UDS007A', 'UDS008',
       'UDS008_UNIT', 'UDS008_NORM', 'UDS008A', 'UDS009', 'UDS009_UNIT',
       'UDS009_NORM', 'UDS009A', 'UDS010', 'UDS010_UNIT', 'UDS010_NORM',
       'UDS010A', 'UDS011', 'UDS011_UNIT', 'UDS011_NORM', 'UDS002_dt',
       'AB001A_dt', 'patdeid'],
      dtype='object')

In [4]:
# drop columns that aren't being used for this project

u = u.drop(columns=[col for col in u.columns if col not in ['patdeid','VISIT','AB001','AB001B','UDS001','UDS001A','UDS001B', 'UDS003', 'UDS004', 'UDS005', 'UDS006', 'UDS007', 'UDS008', 'UDS009', 'UDS010', 'UDS011', 'UDS012', 'UDS013']])

In [5]:
# annotate column labels for interpretability

new_column_names = {'AB001':'t_alcohol','AB001B':'alc_result','UDS001':'urine_test','UDS001A':'refuse_reason','UDS001B':'other_reason', 'UDS003':'urine_temp','UDS004':'supervised','UDS005':'t_Amphetamines', 'UDS006':'t_Benzodiazapines','UDS007':'t_Methadone', 'UDS008':'t_Oxycodone', 'UDS009':'t_Cocaine', 'UDS010':'t_Methamphetamine', 'UDS011':'t_Opiate300', 'UDS012':'t_Cannabinoids', 'UDS013':'t_Propoxyphene'}

In [6]:
# execute rename columns
u = u.rename(columns=new_column_names)

u[:5]

,VISIT,t_Propoxyphene,t_Amphetamines,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Cannabinoids,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,patdeid
0,BASELINE,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,WK1,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,WK2,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,WK3,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,WK4,0.0,1.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

In [7]:
# remove 'WK' from VISIT and convert to int for ordinal value
u.VISIT = u.VISIT.str.replace('WK', '')

# replace 'BASELINE' with 0 for ordinal value
u.VISIT = u.VISIT.replace('BASELINE', 0)

# convert VISIT to int
u.VISIT = u.VISIT.astype(np.int64)

In [8]:
# check column dtypes
u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24930 entries, 0 to 24929
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   VISIT              24930 non-null  int64
 1   t_Propoxyphene     21790 non-null  float64
 2   t_Amphetamines     21789 non-null  float64
 3   t_alcohol          21813 non-null  float64
 4   alc_result         21683 non-null  float64
 5   urine_test         21811 non-null  float64
 6   refuse_reason      297 non-null    float64
 7   other_reason       91 non-null     object
 8   urine_temp         21521 non-null  float64
 9   supervised         21521 non-null  float64
 10  t_Cannabinoids     21790 non-null  float64
 11  t_Benzodiazapines  21790 non-null  float64
 12  t_Methadone        21790 non-null  float64
 13  t_Oxycodone        21790 non-null  float64
 14  t_Cocaine          21790 non-null  float64
 15  t_Methamphetamine  21789 non-null  float64
 16  t_Opiate300        21790 non-null  float64
 17  patdeid            24930 non-null  int64
dtypes: float64(15), int64(2), object(1)
memory usage: 3.4+ MB

In [9]:
# reindex column order for interpretability

u = u.reindex(columns=['patdeid','VISIT','t_alcohol','alc_result','urine_test','refuse_reason','other_reason','urine_temp','supervised','t_Amphetamines','t_Benzodiazapines', 't_Methadone','t_Oxycodone','t_Cocaine','t_Methamphetamine','t_Opiate300','t_Cannabinoids','t_Propoxyphene'])

u[:5]

,patdeid,VISIT,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene
0,1,0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,1,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,2,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,3,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,4,1.0,0.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [10]:
# check value counts for each column

for col in u.columns:
    print(u[col].value_counts(), '\n')
    print(u[col].value_counts(normalize=True), '\n')
    print('|---------------------|')

patdeid
1       26
1449    26
681     26
682     26
683     26
        ..
1420     1
666      1
662      1
659      1
1934     1
Name: count, Length: 1917, dtype: int64

patdeid
1       0.001043
1449    0.001043
681     0.001043
682     0.001043
683     0.001043
          ...
1420    0.000040
666     0.000040
662     0.000040
659     0.000040
1934    0.000040
Name: proportion, Length: 1917, dtype: float64

|---------------------|
VISIT
0     1917
1     1241
2     1215
3     1154
4     1133
5     1064
6     1032
7      996
8      984
9      948
10     922
24     912
12     903
11     898
13     865
14     850
15     837
16     837
17     809
18     798
20     791
19     788
21     774
22     764
23     756
32     742
Name: count, dtype: int64

VISIT
0     0.076895
1     0.049779
2     0.048736
3     0.046290
4     0.045447
5     0.042680
6     0.041396
7     0.039952
8     0.039471
9     0.038026
10    0.036984
24    0.036582
12    0.036221
11    0.036021
13    0.034697
14    0.034095
15    0.033574
16    0.033574
17    0.032451
18    0.032010
20    0.031729
19    0.031609
21    0.031047
22    0.030646
23    0.030325
32    0.029763
Name: proportion, dtype: float64

|---------------------|
t_alcohol
1.0    21683
0.0      130
Name: count, dtype: int64

t_alcohol
1.0    0.99404
0.0    0.00596
Name: proportion, dtype: float64

|---------------------|
alc_result
0.000    21524
0.003       11
0.020       10
0.008        8
0.016        6
         ...
0.059        1
0.128        1
0.077        1
0.089        1
0.036        1
Name: count, Length: 70, dtype: int64

alc_result
0.000    0.992667
0.003    0.000507
0.020    0.000461
0.008    0.000369
0.016    0.000277
           ...
0.059    0.000046
0.128    0.000046
0.077    0.000046
0.089    0.000046
0.036    0.000046
Name: proportion, Length: 70, dtype: float64

|---------------------|
urine_test
1.0    21493
0.0      297
2.0       21
Name: count, dtype: int64

urine_test
1.0    0.985420
0.0    0.013617
2.0    0.000963
Name: proportion, dtype: float64

|---------------------|
refuse_reason
1.0     195
98.0     91
2.0       8
3.0       3
Name: count, dtype: int64

refuse_reason
1.0     0.656566
98.0    0.306397
2.0     0.026936
3.0     0.010101
Name: proportion, dtype: float64

|---------------------|
other_reason
No show                                             4
Client did not complete this week's visit.          4
No Show                                             3
Participant no show.                                3
early term                                          3
                                                   ..
Participant decided to not continue at this time    1
PPT missed visit                                    1
missed appointment                                  1
Participants faked urine                            1
Screen Failure.                                     1
Name: count, Length: 72, dtype: int64

other_reason
No show                                             0.043956
Client did not complete this week's visit.          0.043956
No Show                                             0.032967
Participant no show.                                0.032967
early term                                          0.032967
                                                      ...
Participant decided to not continue at this time    0.010989
PPT missed visit                                    0.010989
missed appointment                                  0.010989
Participants faked urine                            0.010989
Screen Failure.                                     0.010989
Name: proportion, Length: 72, dtype: float64

|---------------------|
urine_temp
1.0     21285
99.0      211
0.0        25
Name: count, dtype: int64

urine_temp
1.0     0.989034
99.0    0.009804
0.0     0.001162
Name: proportion, dtype: float64

|---------------------|
supervised
0.0     15941
1.0      5564
99.0       16
Name: count, dtype: int64

supervised
0.0     0.740718
1.0     0.258538
99.0    0.000743
Name: proportion, dtype: float64

|---------------------|
t_Amphetamines
 0.0    20295
 1.0     1208
-5.0      284
 2.0        2
Name: count, dtype: int64

t_Amphetamines
 0.0    0.931433
 1.0    0.055441
-5.0    0.013034
 2.0    0.000092
Name: proportion, dtype: float64

|---------------------|
t_Benzodiazapines
 0.0    18295
 1.0     3205
-5.0      284
 2.0        6
Name: count, dtype: int64

t_Benzodiazapines
 0.0    0.839605
 1.0    0.147086
-5.0    0.013034
 2.0    0.000275
Name: proportion, dtype: float64

|---------------------|
t_Methadone
 0.0    10799
 1.0    10705
-5.0      283
 2.0        3
Name: count, dtype: int64

t_Methadone
 0.0    0.495594
 1.0    0.491280
-5.0    0.012988
 2.0    0.000138
Name: proportion, dtype: float64

|---------------------|
t_Oxycodone
 0.0    20511
 1.0      991
-5.0      285
 2.0        3
Name: count, dtype: int64

t_Oxycodone
 0.0    0.941303
 1.0    0.045480
-5.0    0.013079
 2.0    0.000138
Name: proportion, dtype: float64

|---------------------|
t_Cocaine
 0.0    14674
 1.0     6832
-5.0      284
Name: count, dtype: int64

t_Cocaine
 0.0    0.673428
 1.0    0.313538
-5.0    0.013034
Name: proportion, dtype: float64

|---------------------|
t_Methamphetamine
 0.0    19969
 1.0     1530
-5.0      286
 2.0        4
Name: count, dtype: int64

t_Methamphetamine
 0.0    0.916472
 1.0    0.070219
-5.0    0.013126
 2.0    0.000184
Name: proportion, dtype: float64

|---------------------|
t_Opiate300
 0.0    12707
 1.0     8798
-5.0      281
 2.0        4
Name: count, dtype: int64

t_Opiate300
 0.0    0.583157
 1.0    0.403763
-5.0    0.012896
 2.0    0.000184
Name: proportion, dtype: float64

|---------------------|
t_Cannabinoids
 0.0    16385
 1.0     5119
-5.0      285
 2.0        1
Name: count, dtype: int64

t_Cannabinoids
 0.0    0.751950
 1.0    0.234924
-5.0    0.013079
 2.0    0.000046
Name: proportion, dtype: float64

|---------------------|
t_Propoxyphene
 0.0    21325
-5.0      285
 1.0      180
Name: count, dtype: int64

t_Propoxyphene
 0.0    0.978660
-5.0    0.013079
 1.0    0.008261
Name: proportion, dtype: float64

|---------------------|

## Notes from each column
patdeid - Looks ok<br>
VISIT - Looks ok<br>
t_alcohol - Results are trivial, drop column<br>
alc_result - Results are trivial, drop column<br>
urine_test - Results are trivial, drop column<br>
refuse_reason - Results are trivial, drop column<br>
other_reason -  Results are trivial, drop column<br>
urine_temp - Results are trivial, drop column<br>
supervised - Results are trivial, drop column<br>
t_Amphetamines - map non-positive tests to 0.0<br>
t_Benzodiazapines - map non-positive tests to 0.0<br>
t_Methadone - map non-positive tests to 0.0<br>
t_Oxycodone - map non-positive tests to 0.0<br>
t_Cocaine - map non-positive tests to 0.0<br>
t_Methamphetamine - map non-positive tests to 0.0<br>
t_Opiate300 - map non-positive tests to 0.0<br>
t_Cannabinoids - map non-positive tests to 0.0<br>
t_Propoxyphene - map non-positive tests to 0.0<br>

In [10]:
to_drop = {'t_alcohol','alc_result','urine_test','refuse_reason','other_reason','urine_temp','supervised'}

u = u.drop(columns=to_drop)

In [11]:
# for all colums that begin with 't_' replace values 2.0 and -5.0 with 0.0
for col in u.columns:
    if col.startswith('t_'):
        u[col] = u[col].replace(2.0, 0.0)
        u[col] = u[col].replace(-5.0, 0.0)

In [13]:
# check value counts to verify proper change took place
for col in u.columns:
    if col.startswith('t_'):
        print(u[col].value_counts(), '\n')
        print(u[col].value_counts(normalize=True), '\n')
        print('|---------------------|')

t_Amphetamines
0.0    20581
1.0     1208
Name: count, dtype: int64

t_Amphetamines
0.0    0.944559
1.0    0.055441
Name: proportion, dtype: float64

|---------------------|
t_Benzodiazapines
0.0    18585
1.0     3205
Name: count, dtype: int64

t_Benzodiazapines
0.0    0.852914
1.0    0.147086
Name: proportion, dtype: float64

|---------------------|
t_Methadone
0.0    11085
1.0    10705
Name: count, dtype: int64

t_Methadone
0.0    0.50872
1.0    0.49128
Name: proportion, dtype: float64

|---------------------|
t_Oxycodone
0.0    20799
1.0      991
Name: count, dtype: int64

t_Oxycodone
0.0    0.95452
1.0    0.04548
Name: proportion, dtype: float64

|---------------------|
t_Cocaine
0.0    14958
1.0     6832
Name: count, dtype: int64

t_Cocaine
0.0    0.686462
1.0    0.313538
Name: proportion, dtype: float64

|---------------------|
t_Methamphetamine
0.0    20259
1.0     1530
Name: count, dtype: int64

t_Methamphetamine
0.0    0.929781
1.0    0.070219
Name: proportion, dtype: float64

|---------------------|
t_Opiate300
0.0    12992
1.0     8798
Name: count, dtype: int64

t_Opiate300
0.0    0.596237
1.0    0.403763
Name: proportion, dtype: float64

|---------------------|
t_Cannabinoids
0.0    16671
1.0     5119
Name: count, dtype: int64

t_Cannabinoids
0.0    0.765076
1.0    0.234924
Name: proportion, dtype: float64

|---------------------|
t_Propoxyphene
0.0    21610
1.0      180
Name: count, dtype: int64

t_Propoxyphene
0.0    0.991739
1.0    0.008261
Name: proportion, dtype: float64

|---------------------|

### Value mapping complete for tests

In [12]:
# observe nulls
100 * u.isnull().sum()/len(u)

patdeid               0.000000
VISIT                 0.000000
t_Amphetamines       12.599278
t_Benzodiazapines    12.595267
t_Methadone          12.595267
t_Oxycodone          12.595267
t_Cocaine            12.595267
t_Methamphetamine    12.599278
t_Opiate300          12.595267
t_Cannabinoids       12.595267
t_Propoxyphene       12.595267
dtype: float64

In [12]:
# replace missing values with 0.0
u = u.fillna(0.0)

In [14]:
u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24930 entries, 0 to 24929
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patdeid            24930 non-null  int64
 1   VISIT              24930 non-null  int64
 2   t_Amphetamines     24930 non-null  float64
 3   t_Benzodiazapines  24930 non-null  float64
 4   t_Methadone        24930 non-null  float64
 5   t_Oxycodone        24930 non-null  float64
 6   t_Cocaine          24930 non-null  float64
 7   t_Methamphetamine  24930 non-null  float64
 8   t_Opiate300        24930 non-null  float64
 9   t_Cannabinoids     24930 non-null  float64
 10  t_Propoxyphene     24930 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 2.1 MB

# Feature engineering
Before we do anything else, we must create the target variable.  A patient must meet 2 conditions to have reached the desired outcomes, listed as follows:<br>

1.  Complete 24 weeks of treatment (this is validated by looking at the final 4 tests)<br>
2.  Show 4 consecutive clean urine tests for opiates for visits 21 -24

In [13]:
# creat column for target
u['outcome'] = None

# look for unique patient id in patdeid column
for i in u['patdeid'].unique():
    # if values for VISIT are in 21,22,23,24 and values in t_Opiate300 are 0,0,0,0
    if (u[(u['patdeid']==i) & (u['VISIT'].isin([21,22,23,24])) & (u['t_Opiate300']==0)].shape[0] == 4):
        # set outcome to 1 for each unique patient id for week 0
        u.loc[(u['patdeid']==i)&(u.VISIT==0), 'outcome'] = 1.0
    else: # set outcome to 0 fopr each unique patient id for week 0
         u.loc[(u['patdeid']==i)&(u.VISIT==0), 'outcome'] = 0.0

# replace NaN with 0
u['outcome'] = u['outcome'].replace(np.nan, 0.0)

In [16]:
u[:5]

,patdeid,VISIT,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene,outcome
0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [14]:
# create function to sample random int from patdeid column
def random_patient():
    return np.random.choice(u['patdeid'].unique())

In [15]:
# review random patitent IDs to test if target was created properly
# every time this cell is run, you will see the progression of a new patient randomly

u.loc[u.patdeid==random_patient(),['patdeid','VISIT','t_Opiate300','outcome']][:25]

      patdeid  VISIT  t_Opiate300  outcome
1664      134      0          1.0      0.0

In [17]:
# save data for EDA
u.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/eda_data/urine_drug_screen.csv', index=False)

## Target variable was successfully created.  
### There are 2 more steps remaining

- Create separate dataframe for target, to merge later
- We must reshape dataframe so that there is only 1 row per patient

In [19]:
u.loc[:,['patdeid','outcome']].drop_duplicates(subset='patdeid', keep='first').outcome.value_counts()

outcome
0.0    1516
1.0     401
Name: count, dtype: int64

In [20]:
# save csv for target variable
target = u.loc[:,['patdeid','outcome']].drop_duplicates(subset='patdeid', keep='first')

In [21]:
target.index.size

1917

In [22]:
# save target to csv
target.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/target.csv', index=False)

In [23]:
# remove target from u
u = u.drop(columns=['outcome'])

### Now we will reshape the dataframe down to 1 row per patient for merge

In [24]:
# create a new dataframe for every filter of visit column
# the name of the dataframe with be VISIT+number of visit
for i in u['VISIT'].unique():
    globals()['VISIT%s' % i] = u[u['VISIT']==i]

In [25]:
# for each dataframe beteween VISIT0 and VISIT24
# add the value in VISIT to the end of the name of each column +"-"+"visit"
# do not change the patdeid column
for i in range(0,25):
    for col in globals()['VISIT%s' % i].columns:
        if col != 'patdeid':
            globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
            globals()['VISIT%s' % i] = globals()['VISIT%s' % i].drop(columns=col)

/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]
/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_8330/1185308755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()['VISIT%s' % i][col+'_'+str(i)] = globals()['VISIT%s' % i][col]

In [26]:
# print shape and name of ea dataframe next to eachother
for i in range(0,25):
    print(globals()['VISIT%s' % i].shape, 'VISIT%s' % i)

(1917, 11) VISIT0
(1241, 11) VISIT1
(1215, 11) VISIT2
(1154, 11) VISIT3
(1133, 11) VISIT4
(1064, 11) VISIT5
(1032, 11) VISIT6
(996, 11) VISIT7
(984, 11) VISIT8
(948, 11) VISIT9
(922, 11) VISIT10
(898, 11) VISIT11
(903, 11) VISIT12
(865, 11) VISIT13
(850, 11) VISIT14
(837, 11) VISIT15
(837, 11) VISIT16
(809, 11) VISIT17
(798, 11) VISIT18
(788, 11) VISIT19
(791, 11) VISIT20
(774, 11) VISIT21
(764, 11) VISIT22
(756, 11) VISIT23
(912, 11) VISIT24

In [27]:
# merge all dfs using left merge on patdeid
for i in range(0,25):
    if i == 0:
        df = pd.merge(globals()['VISIT%s' % i], globals()['VISIT%s' % (i+1)], on='patdeid', how='left')
    elif i < 24:
        df = pd.merge(df, globals()['VISIT%s' % (i+1)], on='patdeid', how='left')
    else:
        pass

In [28]:
df[:5]

,patdeid,VISIT_0,t_Amphetamines_0,t_Benzodiazapines_0,t_Methadone_0,t_Oxycodone_0,t_Cocaine_0,t_Methamphetamine_0,t_Opiate300_0,t_Cannabinoids_0,...,VISIT_24,t_Amphetamines_24,t_Benzodiazapines_24,t_Methadone_24,t_Oxycodone_24,t_Cocaine_24,t_Methamphetamine_24,t_Opiate300_24,t_Cannabinoids_24,t_Propoxyphene_24
0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,24.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,3,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,24.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,4,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,24.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# remove columns that start with 'VISIT'
df = df.drop(columns=[col for col in df.columns if col.startswith('VISIT')])

In [30]:
df.patdeid.nunique()

1917

In [32]:
df.isnull().sum()

patdeid                    0
t_Amphetamines_0           0
t_Benzodiazapines_0        0
t_Methadone_0              0
t_Oxycodone_0              0
                        ...
t_Cocaine_24            1005
t_Methamphetamine_24    1005
t_Opiate300_24          1005
t_Cannabinoids_24       1005
t_Propoxyphene_24       1005
Length: 226, dtype: int64

In [33]:
df.fillna(0.0, inplace=True)

In [34]:
df.isnull().sum()

patdeid                 0
t_Amphetamines_0        0
t_Benzodiazapines_0     0
t_Methadone_0           0
t_Oxycodone_0           0
                       ..
t_Cocaine_24            0
t_Methamphetamine_24    0
t_Opiate300_24          0
t_Cannabinoids_24       0
t_Propoxyphene_24       0
Length: 226, dtype: int64

In [37]:
df.shape

(1917, 226)

In [39]:
# save df to csv
df.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/feature_engineering_data/urine_drug_screen.csv')