In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRDEM.csv')

In [2]:
df.columns

Index(['PATIENTNUMBER', 'SITE', 'VISIT', 'PATIENTID', 'VISITID', 'DEM001',
       'DEM002', 'DEM002_UNIT', 'DEM002_NORM', 'DEM003A', 'DEM003A_UNIT',
       'DEM003A_NORM', 'DEM004G', 'DEM004H', 'DEM004B5', 'DEM004B6',
       'DEM004B7', 'DEM003B1', 'DEM003B2', 'DEM003B3', 'DEM003B4', 'DEM003B5',
       'DEM004A', 'DEM004B', 'DEM004B1', 'DEM004B2', 'DEM004B3', 'DEM004B4',
       'VISITDT', 'DEM004B8', 'DEM004C', 'DEM004D', 'DEM004D1', 'DEM004D2',
       'DEM004D3', 'DEM004D4', 'DEM004D5', 'DEM004E', 'DEM004F', 'DEM004FS',
       'VISITDT_DT', 'DEM001_DT', 'patdeid'],
      dtype='object')

In [3]:
# extract columns for study

df = df.drop(columns=[col for col in df.columns if col not in ['patdeid','DEM002','DEM003A','DEM004A','DEM004B','DEM004C','DEM004E','DEM004F']])

df = df.rename(columns={'DEM002':'Sex','DEM003A':'Hispanic','DEM004A':'Amer_Indian','DEM004B':'Asian','DEM004C':'Black','DEM004E':'White','DEM004F':'Other'})

In [4]:
# move patdeid to first position
col = df.pop('patdeid')
df.insert(0, col.name, col)

df[:5]

   patdeid  Sex  Hispanic  Amer_Indian  Asian  Black  White  Other
0        1  1.0       2.0          NaN    NaN    NaN    5.0    NaN
1        2  1.0       2.0          NaN    NaN    NaN    5.0    NaN
2        3  1.0       2.0          NaN    NaN    NaN    5.0    NaN
3        4  2.0       2.0          NaN    NaN    NaN    5.0    NaN
4        5  1.0       2.0          NaN    NaN    NaN    5.0    NaN

In [6]:
df.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/feature_engineering_data/demo.csv', index=False)