In [7]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

In [8]:
# import CSV and create multi-index

t1 = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/medication_dose.csv',
                 index_col=['patdeid','VISIT'])
t2 = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/self_reported_use.csv',
                 index_col=['patdeid','VISIT'])
t3 = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/urine_drug_screen.csv',
                 index_col=['patdeid','VISIT'])

In [9]:
# merge tables to combine all data

out = pd.merge(t1, t2, how='left', left_index=True, right_index=True).merge(t3, how='left', left_index=True, right_index=True)

In [10]:
# merge appears to be successful

out.head()

               medication  total_dose  admin_location  sru_alcohol alc_qty  \
patdeid VISIT
1       WK0           2.0         8.0             1.0          NaN     NaN
        WK1           2.0        16.0             1.0          NaN     NaN
        WK1           2.0        24.0             1.0          NaN     NaN
        WK1           2.0        24.0             1.0          NaN     NaN
        WK1           2.0        32.0             1.0          NaN     NaN

               sru_cannabis  sru_cocaine  sru_amphetamine  \
patdeid VISIT
1       WK0             NaN          NaN              NaN
        WK1             NaN          NaN              NaN
        WK1             NaN          NaN              NaN
        WK1             NaN          NaN              NaN
        WK1             NaN          NaN              NaN

               sru_methamphetamine  sru_opiates  ...  supervised  \
patdeid VISIT                                    ...
1       WK0                    NaN          NaN  ...         NaN
        WK1                    NaN          NaN  ...         0.0
        WK1                    NaN          NaN  ...         0.0
        WK1                    NaN          NaN  ...         0.0
        WK1                    NaN          NaN  ...         0.0

               t_Amphetamines  t_Benzodiazapines  t_Methadone  t_Oxycodone  \
patdeid VISIT
1       WK0               NaN                NaN          NaN          NaN
        WK1               0.0                0.0          0.0          0.0
        WK1               0.0                0.0          0.0          0.0
        WK1               0.0                0.0          0.0          0.0
        WK1               0.0                0.0          0.0          0.0

               t_Cocaine  t_Methamphetamine  t_Opiate300  t_Cannabinoids  \
patdeid VISIT
1       WK0          NaN                NaN          NaN             NaN
        WK1          0.0                0.0          0.0             1.0
        WK1          0.0                0.0          0.0             1.0
        WK1          0.0                0.0          0.0             1.0
        WK1          0.0                0.0          0.0             1.0

              t_Propoxyphene
patdeid VISIT
1       WK0              NaN
        WK1              0.0
        WK1              0.0
        WK1              0.0
        WK1              0.0

[5 rows x 31 columns]

In [29]:
# multi index allows for each patient ID to be retrieved as series

out.iloc[1]

medication              2.0
total_dose             16.0
admin_location          1.0
sru_alcohol             NaN
alc_qty                 NaN
sru_cannabis            NaN
sru_cocaine             NaN
sru_amphetamine         NaN
sru_methamphetamine     NaN
sru_opiates             NaN
sru_benzodiazepines     NaN
sru_propoxyphene        NaN
sru_methadone           NaN
sru_oxycodone           NaN
sru_other               NaN
t_alcohol               1.0
alc_result              0.0
urine_test              1.0
refuse_reason           NaN
other_reason            NaN
urine_temp              1.0
supervised              0.0
t_Amphetamines          0.0
t_Benzodiazapines       0.0
t_Methadone             0.0
t_Oxycodone             0.0
t_Cocaine               0.0
t_Methamphetamine       0.0
t_Opiate300             0.0
t_Cannabinoids          1.0
t_Propoxyphene          0.0
Name: (1, WK1), dtype: object

In [30]:
out.loc[(1, 'WK1'), 't_Opiate300']

patdeid  VISIT
1        WK1      0.0
         WK1      0.0
         WK1      0.0
         WK1      0.0
         WK1      0.0
         WK1      0.0
Name: t_Opiate300, dtype: float64

In [32]:
# slice week 4, 8 - compare patient urine to self reported use

out.loc[(slice(1), ['WK4','WK8']), ['sru_opiates','t_Oxycodone']]

               sru_opiates  t_Oxycodone
patdeid VISIT
1       WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK4            0.0          0.0
        WK8            0.0          0.0
        WK8            0.0          0.0
        WK8            0.0          0.0
        WK8            0.0          0.0

In [14]:
# lookup paitent and week in index
out.loc[(1, 'WK23'), :]

               medication  total_dose  admin_location  sru_alcohol alc_qty  \
patdeid VISIT
1       WK23          2.0        24.0             1.0          NaN     NaN
        WK23          2.0        26.0             2.0          NaN     NaN
        WK23          2.0        26.0             2.0          NaN     NaN
        WK23          2.0        26.0             2.0          NaN     NaN
        WK23          2.0        26.0             2.0          NaN     NaN

               sru_cannabis  sru_cocaine  sru_amphetamine  \
patdeid VISIT
1       WK23            NaN          NaN              NaN
        WK23            NaN          NaN              NaN
        WK23            NaN          NaN              NaN
        WK23            NaN          NaN              NaN
        WK23            NaN          NaN              NaN

               sru_methamphetamine  sru_opiates  ...  supervised  \
patdeid VISIT                                    ...
1       WK23                   NaN          NaN  ...         0.0
        WK23                   NaN          NaN  ...         0.0
        WK23                   NaN          NaN  ...         0.0
        WK23                   NaN          NaN  ...         0.0
        WK23                   NaN          NaN  ...         0.0

               t_Amphetamines  t_Benzodiazapines  t_Methadone  t_Oxycodone  \
patdeid VISIT
1       WK23              0.0                0.0          0.0          0.0
        WK23              0.0                0.0          0.0          0.0
        WK23              0.0                0.0          0.0          0.0
        WK23              0.0                0.0          0.0          0.0
        WK23              0.0                0.0          0.0          0.0

               t_Cocaine  t_Methamphetamine  t_Opiate300  t_Cannabinoids  \
patdeid VISIT
1       WK23         0.0                0.0          0.0             0.0
        WK23         0.0                0.0          0.0             0.0
        WK23         0.0                0.0          0.0             0.0
        WK23         0.0                0.0          0.0             0.0
        WK23         0.0                0.0          0.0             0.0

              t_Propoxyphene
patdeid VISIT
1       WK23             0.0
        WK23             0.0
        WK23             0.0
        WK23             0.0
        WK23             0.0

[5 rows x 31 columns]