In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
data = pd.read_csv('../notebooks/data/merged_data.csv')

In [18]:
# replace -5.0 with 0.0
data = data.replace(-5.0, 0.0)

In [19]:
data.agg(
    {'meds_methadone_1':np.mean,
     'test_Opiate300_1':np.sum,
     'meds_methadone_24':np.mean,
     'test_Opiate300_24':np.sum}
).to_frame().T.round(0)

   meds_methadone_1  test_Opiate300_1  meds_methadone_24  test_Opiate300_24
0             133.0             537.0              472.0              294.0