In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
sru = pd.read_csv('../data/T_FRTFB.csv')

sru.head()

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,TFB002A,TFB002A_UNIT,TFB002A_NORM,TFB002B,TFB003A,TFB003A_UNIT,TFB003A_NORM,VISITDT,VISITDT_DT,TFB001,TFB001A,TFB001A_UNIT,TFB001A_NORM,TFB001B,TFB001C,TFB011A,TFB011A_UNIT,TFB011A_NORM,TFB011B,TFB011C,TFB010A,TFB010A_UNIT,TFB010A_NORM,TFB010B,TFB009A,TFB009A_UNIT,TFB009A_NORM,TFB009B,TFB004A,TFB004A_UNIT,TFB004A_NORM,TFB004B,TFB005A,TFB005A_UNIT,TFB005A_NORM,TFB005B,TFB006A,TFB006A_UNIT,TFB006A_NORM,TFB006B,TFB007A,TFB007A_UNIT,TFB007A_NORM,TFB007B,TFB008A,TFB008A_UNIT,TFB008A_NORM,TFB008B,TFB003B,TFB001_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-31.0,1
1,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-32.0,1
2,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-30.0,1
3,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-29.0,1
4,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-28.0,1

In [3]:
sru = sru.drop(columns=['PATIENTNUMBER','SITE','PATIENTID','VISITID','TFB002A_UNIT','TFB002A_NORM','TFB002B','TFB003A_UNIT','TFB003A_NORM','VISITDT','VISITDT_DT','TFB001', 'TFB001A_UNIT','TFB001A_NORM','TFB001C','TFB011A_UNIT','TFB011A_NORM','TFB011B','TFB011C','TFB010A_UNIT','TFB010A_NORM','TFB010B','TFB009A_UNIT','TFB009A_NORM','TFB009B','TFB004A_UNIT','TFB004A_NORM','TFB004B','TFB005A_UNIT','TFB005A_NORM','TFB005B','TFB006A_UNIT','TFB006A_NORM','TFB006B','TFB007A_UNIT','TFB007A_NORM','TFB007B','TFB008A_UNIT','TFB008A_NORM','TFB008B','TFB003B','TFB001_dt'], axis=1)

In [4]:
sru.head()

,VISIT,TFB002A,TFB003A,TFB001A,TFB001B,TFB011A,TFB010A,TFB009A,TFB004A,TFB005A,TFB006A,TFB007A,TFB008A,patdeid
0,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
1,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
3,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

In [5]:
new_columns = {'TFB001B':'alc_qty','TFB002A':'sru_cannabis','TFB003A':'sru_cocaine','TFB001A':'sru_alcohol','TFB011A':'sru_other','TFB010A':'sru_oxycodone','TFB009A':'sru_methadone','TFB004A':'sru_amphetamine','TFB005A':'sru_methamphetamine','TFB006A':'sru_opiates','TFB007A':'sru_benzodiazepines','TFB008A':'sru_propoxyphene'}

In [6]:
sru = sru.rename(columns=new_columns)

sru.head()

,VISIT,sru_cannabis,sru_cocaine,sru_alcohol,alc_qty,sru_other,sru_oxycodone,sru_methadone,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,patdeid
0,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
1,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
3,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

In [7]:
sru = sru.reindex(columns=['patdeid','VISIT','sru_alcohol','alc_qty','sru_cannabis','sru_cocaine','sru_amphetamine','sru_methamphetamine','sru_opiates','sru_benzodiazepines','sru_propoxyphene','sru_methadone','sru_oxycodone','sru_other'])

In [8]:
sru.head()

,patdeid,VISIT,sru_alcohol,alc_qty,sru_cannabis,sru_cocaine,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,sru_methadone,sru_oxycodone,sru_other
0,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
sru.shape

(100518, 14)

In [11]:
sru.to_csv('../data/self_reported_use.csv')