In [2]:
import pandas as pd
import numpy as np

In [3]:
# import raw file from dataset

u = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRUDSAB.csv')

u.head()

/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_24614/716071481.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  u = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRUDSAB.csv')

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,UDS013,UDS013_UNIT,UDS013_NORM,UDS013A,UDS005,...,UDS010,UDS010_UNIT,UDS010_NORM,UDS010A,UDS011,UDS011_UNIT,UDS011_NORM,UDS002_dt,AB001A_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,1.0,NaN,1.0,-2.0,-2.0,1
1,NaN,NaN,WK1,NaN,15037,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,6.0,6.0,1
2,NaN,NaN,WK2,NaN,15040,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,16.0,1
3,NaN,NaN,WK3,NaN,15043,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,22.0,22.0,1
4,NaN,NaN,WK4,NaN,15046,0.0,NaN,0.0,NaN,1.0,...,1.0,NaN,1.0,NaN,0.0,NaN,0.0,34.0,34.0,1

In [4]:
# observe columns

u.columns

Index(['PATIENTNUMBER', 'SITE', 'VISIT', 'PATIENTID', 'VISITID', 'UDS013',
       'UDS013_UNIT', 'UDS013_NORM', 'UDS013A', 'UDS005', 'UDS005_UNIT',
       'UDS005_NORM', 'UDS005A', 'AB001', 'AB001_UNIT', 'AB001_NORM', 'AB001A',
       'AB001B', 'AB001B_UNIT', 'AB001B_NORM', 'AB002', 'UDS001',
       'UDS001_UNIT', 'UDS001_NORM', 'UDS001A', 'UDS001A_UNIT', 'UDS001A_NORM',
       'UDS001B', 'UDS002', 'UDS003', 'UDS003_UNIT', 'UDS003_NORM', 'UDS004',
       'UDS004_UNIT', 'UDS004_NORM', 'UDS011A', 'UDS012', 'UDS012_UNIT',
       'UDS012_NORM', 'UDS012A', 'UDS006', 'UDS006_UNIT', 'UDS006_NORM',
       'UDS006A', 'UDS007', 'UDS007_UNIT', 'UDS007_NORM', 'UDS007A', 'UDS008',
       'UDS008_UNIT', 'UDS008_NORM', 'UDS008A', 'UDS009', 'UDS009_UNIT',
       'UDS009_NORM', 'UDS009A', 'UDS010', 'UDS010_UNIT', 'UDS010_NORM',
       'UDS010A', 'UDS011', 'UDS011_UNIT', 'UDS011_NORM', 'UDS002_dt',
       'AB001A_dt', 'patdeid'],
      dtype='object')

In [5]:
# observe head of dataframe

u[:5]

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,UDS013,UDS013_UNIT,UDS013_NORM,UDS013A,UDS005,...,UDS010,UDS010_UNIT,UDS010_NORM,UDS010A,UDS011,UDS011_UNIT,UDS011_NORM,UDS002_dt,AB001A_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,1.0,NaN,1.0,-2.0,-2.0,1
1,NaN,NaN,WK1,NaN,15037,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,6.0,6.0,1
2,NaN,NaN,WK2,NaN,15040,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,16.0,1
3,NaN,NaN,WK3,NaN,15043,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,22.0,22.0,1
4,NaN,NaN,WK4,NaN,15046,0.0,NaN,0.0,NaN,1.0,...,1.0,NaN,1.0,NaN,0.0,NaN,0.0,34.0,34.0,1

In [7]:
# drop columns that aren't being used for this project

u = u.drop(columns=[col for col in u.columns if col not in ['patdeid','VISIT','AB001','AB001B','UDS001','UDS001A','UDS001B', 'UDS003', 'UDS004', 'UDS005', 'UDS006', 'UDS007', 'UDS008', 'UDS009', 'UDS010', 'UDS011', 'UDS012', 'UDS013']])

In [44]:
# annotate column labels for interpretability

new_column_names = {'AB001':'t_alcohol','AB001B':'alc_result','UDS001':'urine_test','UDS001A':'refuse_reason','UDS001B':'other_reason', 'UDS003':'urine_temp','UDS004':'supervised','UDS005':'t_Amphetamines', 'UDS006':'t_Benzodiazapines','UDS007':'t_Methadone', 'UDS008':'t_Oxycodone', 'UDS009':'t_Cocaine', 'UDS010':'t_Methamphetamine', 'UDS011':'t_Opiate300', 'UDS012':'t_Cannabinoids', 'UDS013':'t_Propoxyphene'}

In [9]:
# execute rename columns
u = u.rename(columns=new_column_names)

u[:5]

,VISIT,t_Propoxyphene,t_Amphetamines,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Cannabinoids,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,patdeid
0,BASELINE,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,WK1,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,WK2,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,WK3,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,WK4,0.0,1.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

In [10]:
# reindex column order for interpretability

u = u.reindex(columns=['patdeid','VISIT','t_alcohol','alc_result','urine_test','refuse_reason','other_reason','urine_temp','supervised','t_Amphetamines','t_Benzodiazapines', 't_Methadone','t_Oxycodone','t_Cocaine','t_Methamphetamine','t_Opiate300','t_Cannabinoids','t_Propoxyphene'])

u[:5]

,patdeid,VISIT,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene
0,1,BASELINE,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,WK1,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,WK2,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,WK3,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,WK4,1.0,0.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [75]:
# rename values in VISIT column for consistency with other tables

u.VISIT.replace('BASELINE','WK0', inplace=True)

In [79]:
# eyeball columns for proper structure

u[26:51]

,patdeid,VISIT,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene
26,2,WK0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
27,2,WK1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28,2,WK2,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
29,2,WK3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
30,2,WK4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
31,2,WK5,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32,2,WK6,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
33,2,WK7,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
34,2,WK8,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
35,2,WK9,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
36,2,WK10,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
37,2,WK11,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
38,2,WK12,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,2,WK13,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,2,WK14,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41,2,WK15,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
42,2,WK16,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
43,2,WK17,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,2,WK18,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
45,2,WK19,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,2,WK20,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
47,2,WK21,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
48,2,WK22,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
49,2,WK23,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
50,2,WK24,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [84]:
# oberve the dtyps and nulls
100 * u.isnull().sum()/len(u)

patdeid              0.0
VISIT                0.0
t_alcohol            0.0
alc_result           0.0
urine_test           0.0
refuse_reason        0.0
other_reason         0.0
urine_temp           0.0
supervised           0.0
t_Amphetamines       0.0
t_Benzodiazapines    0.0
t_Methadone          0.0
t_Oxycodone          0.0
t_Cocaine            0.0
t_Methamphetamine    0.0
t_Opiate300          0.0
t_Cannabinoids       0.0
t_Propoxyphene       0.0
dtype: float64

In [85]:
# cannot see clear patter in nulls
u.isnull().loc[:,'t_alcohol':'t_Propoxyphene'].sample(5)

,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene
6659,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20929,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13140,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11870,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Cannot find patterns for nulls; will just blanket replace with 0.0 float and see how the data looks

In [69]:
u.fillna(0.0, inplace=True)

In [86]:
# obseve different patient profiles, 25 rows at a time, everything looks good
u[51:76]

,patdeid,VISIT,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene
51,2,WK32,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
52,3,WK0,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
53,3,WK1,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
54,3,WK2,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
55,3,WK3,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
56,3,WK4,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
57,3,WK5,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
58,3,WK6,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
59,3,WK7,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
60,3,WK8,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
61,3,WK9,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
62,3,WK10,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
63,3,WK11,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
64,3,WK12,1.0,0.02,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
65,3,WK13,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
66,3,WK14,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
67,3,WK15,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
68,3,WK16,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
69,3,WK17,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
70,3,WK18,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
71,3,WK19,1.0,0.00,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
72,3,WK20,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
73,3,WK21,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
74,3,WK22,1.0,0.00,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
75,3,WK23,1.0,0.00,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0

In [45]:
# observe duplicates, wow, no duplicates
u.loc[u.duplicated()]

Empty DataFrame
Columns: [patdeid, VISIT, t_alcohol, alc_result, urine_test, refuse_reason, other_reason, urine_temp, supervised, t_Amphetamines, t_Benzodiazapines, t_Methadone, t_Oxycodone, t_Cocaine, t_Methamphetamine, t_Opiate300, t_Cannabinoids, t_Propoxyphene]
Index: []

In [87]:
# sanity check for filling nan's with 0.0

u.refuse_reason.value_counts(dropna=False)

refuse_reason
0.0     24633
1.0       195
98.0       91
2.0         8
3.0         3
Name: count, dtype: int64

In [89]:
u.other_reason.value_counts(dropna=False)

other_reason
0.0                                                 24839
Client did not complete this week's visit.              4
No show                                                 4
No Show                                                 3
early term                                              3
                                                    ...
missed visit                                            1
Participant decided to not continue at this time        1
Participant left prior to providing sample              1
Client did not provide a urine sample.                  1
Screen Failure.                                         1
Name: count, Length: 73, dtype: int64

In [91]:
u[:25]

,patdeid,VISIT,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene
0,1,WK0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,WK1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,WK2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,WK3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,WK4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,1,WK5,1.0,0.0,0.0,1.0,0.0,0.0,0.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0
6,1,WK6,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
7,1,WK7,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,WK8,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
9,1,WK9,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,1,WK10,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1,WK11,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,1,WK12,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13,1,WK13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1,WK14,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15,1,WK15,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,1,WK16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1,WK17,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,WK18,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1,WK19,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1,WK20,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21,1,WK21,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22,1,WK22,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23,1,WK23,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1,WK24,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Data looks perfect, time to save to CSV

In [92]:
# save data to csv

u.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/u_clean.csv')