In [28]:
import pandas as pd
import numpy as np

In [29]:
# read table for Timeline Followback (TFB) data, which are the self reported drug use surveys

s = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRTFB.csv')

s.head()

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,TFB002A,TFB002A_UNIT,TFB002A_NORM,TFB002B,TFB003A,...,TFB007A_UNIT,TFB007A_NORM,TFB007B,TFB008A,TFB008A_UNIT,TFB008A_NORM,TFB008B,TFB003B,TFB001_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-31.0,1
1,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-32.0,1
2,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-30.0,1
3,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-29.0,1
4,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-28.0,1

In [30]:
# drop columns whose data is not being analyzed for this project

s = s.drop(columns=['PATIENTNUMBER','SITE','PATIENTID','VISITID','TFB002A_UNIT','TFB002A_NORM','TFB002B',
'TFB003A_UNIT','TFB003A_NORM','VISITDT','VISITDT_DT','TFB001', 'TFB001A_UNIT','TFB001A_NORM','TFB001C','TFB011A_UNIT','TFB011A_NORM','TFB011B','TFB011C','TFB010A_UNIT','TFB010A_NORM','TFB010B','TFB009A_UNIT','TFB009A_NORM','TFB009B','TFB004A_UNIT','TFB004A_NORM','TFB004B','TFB005A_UNIT','TFB005A_NORM','TFB005B','TFB006A_UNIT','TFB006A_NORM','TFB006B','TFB007A_UNIT','TFB007A_NORM','TFB007B','TFB008A_UNIT','TFB008A_NORM','TFB008B','TFB003B','TFB001_dt'], axis=1)

In [31]:
# eyeball columns to see what's left

s.head()

,VISIT,TFB002A,TFB003A,TFB001A,TFB001B,TFB011A,TFB010A,TFB009A,TFB004A,TFB005A,TFB006A,TFB007A,TFB008A,patdeid
0,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
1,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
3,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

In [32]:
# rename columns according to documentation for interpretability

new_columns = {'TFB001B':'alc_qty','TFB002A':'sru_cannabis','TFB003A':'sru_cocaine','TFB001A':'sru_alcohol','TFB011A':'sru_other','TFB010A':'sru_oxycodone','TFB009A':'sru_methadone','TFB004A':'sru_amphetamine','TFB005A':'sru_methamphetamine','TFB006A':'sru_opiates','TFB007A':'sru_benzodiazepines','TFB008A':'sru_propoxyphene'}

In [33]:
# renaming columns

s = s.rename(columns=new_columns)

s.head()

,VISIT,sru_cannabis,sru_cocaine,sru_alcohol,alc_qty,sru_other,sru_oxycodone,sru_methadone,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,patdeid
0,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
1,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
3,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

In [34]:
# reorder index for easier interpretation

s = s.reindex(columns=['patdeid','VISIT','sru_alcohol','alc_qty','sru_cannabis','sru_cocaine','sru_amphetamine','sru_methamphetamine','sru_opiates','sru_benzodiazepines','sru_propoxyphene','sru_methadone','sru_oxycodone','sru_other'])

In [35]:
# eyball column name change

s.head()

,patdeid,VISIT,sru_alcohol,alc_qty,sru_cannabis,sru_cocaine,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,sru_methadone,sru_oxycodone,sru_other
0,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# replace BASELINE with WK0 for consistency with other data tables
s.VISIT.replace('BASELINE','WK0', inplace=True)

In [42]:
# display value counts for features other than first column, the display again with normalize=True parameter to see percentages

for col in s.columns:
    if col != 'patdeid':
        print(s[col].value_counts())
        print('----------------------')
        print(s[col].value_counts(normalize=True))
        print('----------------------')
        print('----------------------')

VISIT
WK0     47412
WK4     12150
WK24     7764
WK32     7436
WK8      7379
WK12     7040
WK16     5979
WK20     5358
Name: count, dtype: int64
----------------------
VISIT
WK0     0.471677
WK4     0.120874
WK24    0.077240
WK32    0.073977
WK8     0.073410
WK12    0.070037
WK16    0.059482
WK20    0.053304
Name: proportion, dtype: float64
----------------------
----------------------
sru_alcohol
0.0    91005
1.0     9274
Name: count, dtype: int64
----------------------
sru_alcohol
0.0    0.907518
1.0    0.092482
Name: proportion, dtype: float64
----------------------
----------------------
alc_qty
2 beers                                            804
1 beer                                             783
4 drinks                                           599
2 drinks                                           396
3 beers                                            369
                                                  ...
4-5 Beers                                            1
4 Pints of Beer PO                                   1
5 Pints of Beer                                      1
5 Pints Beer, 3 Mixed Drinks, 1 Glass Champagne      1
5  12 oz. bottles                                    1
Name: count, Length: 1099, dtype: int64
----------------------
alc_qty
2 beers                                            0.086703
1 beer                                             0.084439
4 drinks                                           0.064596
2 drinks                                           0.042705
3 beers                                            0.039793
                                                     ...
4-5 Beers                                          0.000108
4 Pints of Beer PO                                 0.000108
5 Pints of Beer                                    0.000108
5 Pints Beer, 3 Mixed Drinks, 1 Glass Champagne    0.000108
5  12 oz. bottles                                  0.000108
Name: proportion, Length: 1099, dtype: float64
----------------------
----------------------
sru_cannabis
0.0    80495
1.0    19784
Name: count, dtype: int64
----------------------
sru_cannabis
0.0    0.80271
1.0    0.19729
Name: proportion, dtype: float64
----------------------
----------------------
sru_cocaine
0.0    82511
1.0    17768
Name: count, dtype: int64
----------------------
sru_cocaine
0.0    0.822814
1.0    0.177186
Name: proportion, dtype: float64
----------------------
----------------------
sru_amphetamine
0.0    99628
1.0      651
Name: count, dtype: int64
----------------------
sru_amphetamine
0.0    0.993508
1.0    0.006492
Name: proportion, dtype: float64
----------------------
----------------------
sru_methamphetamine
0.0    97080
1.0     3199
Name: count, dtype: int64
----------------------
sru_methamphetamine
0.0    0.968099
1.0    0.031901
Name: proportion, dtype: float64
----------------------
----------------------
sru_opiates
1.0    59566
0.0    40713
Name: count, dtype: int64
----------------------
sru_opiates
1.0    0.594003
0.0    0.405997
Name: proportion, dtype: float64
----------------------
----------------------
sru_benzodiazepines
0.0    96469
1.0     3810
Name: count, dtype: int64
----------------------
sru_benzodiazepines
0.0    0.962006
1.0    0.037994
Name: proportion, dtype: float64
----------------------
----------------------
sru_propoxyphene
0.0    100238
1.0        41
Name: count, dtype: int64
----------------------
sru_propoxyphene
0.0    0.999591
1.0    0.000409
Name: proportion, dtype: float64
----------------------
----------------------
sru_methadone
0.0    97346
1.0     2933
Name: count, dtype: int64
----------------------
sru_methadone
0.0    0.970752
1.0    0.029248
Name: proportion, dtype: float64
----------------------
----------------------
sru_oxycodone
0.0    94990
1.0     5289
Name: count, dtype: int64
----------------------
sru_oxycodone
0.0    0.947257
1.0    0.052743
Name: proportion, dtype: float64
----------------------
----------------------
sru_other
0.0    98797
1.0     1482
Name: count, dtype: int64
----------------------
sru_other
0.0    0.985221
1.0    0.014779
Name: proportion, dtype: float64
----------------------
----------------------

In [43]:
# Inspect dataframe for issues

s.loc[s.patdeid==3].groupby(['patdeid','VISIT']).count()

               sru_alcohol  alc_qty  sru_cannabis  sru_cocaine  \
patdeid VISIT
3       WK0             30        0            30           30
        WK12            28        3            28           28
        WK16            28        4            28           28
        WK20            28        4            28           28
        WK24            28        4            28           28
        WK32            43        5            43           43
        WK4             24       18            24           24
        WK8             28        2            28           28

               sru_amphetamine  sru_methamphetamine  sru_opiates  \
patdeid VISIT
3       WK0                 30                   30           30
        WK12                28                   28           28
        WK16                28                   28           28
        WK20                28                   28           28
        WK24                28                   28           28
        WK32                43                   43           43
        WK4                 24                   24           24
        WK8                 28                   28           28

               sru_benzodiazepines  sru_propoxyphene  sru_methadone  \
patdeid VISIT
3       WK0                     30                30             30
        WK12                    28                28             28
        WK16                    28                28             28
        WK20                    28                28             28
        WK24                    28                28             28
        WK32                    43                43             43
        WK4                     24                24             24
        WK8                     28                28             28

               sru_oxycodone  sru_other
patdeid VISIT
3       WK0               30         30
        WK12              28         28
        WK16              28         28
        WK20              28         28
        WK24              28         28
        WK32              43         43
        WK4               24         24
        WK8               28         28

In [45]:
s.isnull().sum()

patdeid                    0
VISIT                      0
sru_alcohol              239
alc_qty                91245
sru_cannabis             239
sru_cocaine              239
sru_amphetamine          239
sru_methamphetamine      239
sru_opiates              239
sru_benzodiazepines      239
sru_propoxyphene         239
sru_methadone            239
sru_oxycodone            239
sru_other                239
dtype: int64

In [46]:
# fill nans with 0 for now
s.fillna(0, inplace=True)

In [47]:
# drop duplicates while preserving index and time structure, keeping the first instance of each record
s.drop_duplicates(subset=['patdeid','VISIT'], keep='first', inplace=True)

In [50]:
# quick visual inspection
s[:25]

,patdeid,VISIT,sru_alcohol,alc_qty,sru_cannabis,sru_cocaine,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,sru_methadone,sru_oxycodone,sru_other
0,1,WK0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
30,1,WK4,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
33,1,WK8,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2,WK0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,2,WK4,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
71,2,WK8,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
75,2,WK12,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
78,2,WK16,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
82,2,WK20,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
90,2,WK24,0.0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
93,2,WK32,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
101,3,WK0,0.0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
131,3,WK4,1.0,1 drink (1 beer),0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
155,3,WK8,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
183,3,WK12,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
211,3,WK16,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
239,3,WK20,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
267,3,WK24,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
295,3,WK32,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
338,4,WK0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
370,4,WK4,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
378,4,WK8,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
382,4,WK12,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
398,4,WK16,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
407,4,WK20,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [51]:
# sample view for different patients to observe patterns..

s.loc[s.patdeid==27].groupby(['patdeid','VISIT']).agg('first')

               sru_alcohol alc_qty  sru_cannabis  sru_cocaine  \
patdeid VISIT
27      WK0            0.0       0           0.0          0.0
        WK12           0.0       0           0.0          0.0
        WK16           0.0       0           0.0          0.0
        WK20           0.0       0           0.0          0.0
        WK24           0.0       0           0.0          0.0
        WK32           0.0       0           0.0          1.0
        WK4            0.0       0           0.0          0.0
        WK8            0.0       0           0.0          0.0

               sru_amphetamine  sru_methamphetamine  sru_opiates  \
patdeid VISIT
27      WK0                0.0                  0.0          1.0
        WK12               0.0                  0.0          1.0
        WK16               0.0                  0.0          1.0
        WK20               0.0                  0.0          1.0
        WK24               0.0                  0.0          1.0
        WK32               0.0                  0.0          1.0
        WK4                0.0                  0.0          1.0
        WK8                0.0                  0.0          1.0

               sru_benzodiazepines  sru_propoxyphene  sru_methadone  \
patdeid VISIT
27      WK0                    0.0               0.0            0.0
        WK12                   0.0               0.0            0.0
        WK16                   0.0               0.0            0.0
        WK20                   0.0               0.0            0.0
        WK24                   0.0               0.0            0.0
        WK32                   0.0               0.0            0.0
        WK4                    0.0               0.0            0.0
        WK8                    1.0               0.0            0.0

               sru_oxycodone  sru_other
patdeid VISIT
27      WK0              0.0        0.0
        WK12             0.0        0.0
        WK16             0.0        0.0
        WK20             0.0        0.0
        WK24             0.0        0.0
        WK32             0.0        0.0
        WK4              0.0        0.0
        WK8              0.0        0.0

In [52]:
# pateint view for plotting
s.loc[s.patdeid==27].groupby(['patdeid','VISIT']).agg('sum').T

patdeid               27
VISIT                WK0 WK12 WK16 WK20 WK24 WK32  WK4  WK8
sru_alcohol          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
alc_qty                0    0    0    0    0    0    0    0
sru_cannabis         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
sru_cocaine          0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
sru_amphetamine      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
sru_methamphetamine  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
sru_opiates          1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
sru_benzodiazepines  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
sru_propoxyphene     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
sru_methadone        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
sru_oxycodone        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
sru_other            0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [55]:
s.isnull().sum()

patdeid                0
VISIT                  0
sru_alcohol            0
alc_qty                0
sru_cannabis           0
sru_cocaine            0
sru_amphetamine        0
sru_methamphetamine    0
sru_opiates            0
sru_benzodiazepines    0
sru_propoxyphene       0
sru_methadone          0
sru_oxycodone          0
sru_other              0
dtype: int64

In [57]:
s.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/s_clean.csv')