In [1]:
import pandas as pd # only pandas required for this notebook

# this is a wide dataframe, set option to 'None' to remove truncated view of rows
pd.set_option('display.max_columns', None)

In [5]:
# read table for Timeline Followback (TFB) data, which are the self reported drug use surveys

sru = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRTFB.csv')

sru.head()

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,TFB002A,TFB002A_UNIT,TFB002A_NORM,TFB002B,TFB003A,TFB003A_UNIT,TFB003A_NORM,VISITDT,VISITDT_DT,TFB001,TFB001A,TFB001A_UNIT,TFB001A_NORM,TFB001B,TFB001C,TFB011A,TFB011A_UNIT,TFB011A_NORM,TFB011B,TFB011C,TFB010A,TFB010A_UNIT,TFB010A_NORM,TFB010B,TFB009A,TFB009A_UNIT,TFB009A_NORM,TFB009B,TFB004A,TFB004A_UNIT,TFB004A_NORM,TFB004B,TFB005A,TFB005A_UNIT,TFB005A_NORM,TFB005B,TFB006A,TFB006A_UNIT,TFB006A_NORM,TFB006B,TFB007A,TFB007A_UNIT,TFB007A_NORM,TFB007B,TFB008A,TFB008A_UNIT,TFB008A_NORM,TFB008B,TFB003B,TFB001_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-31.0,1
1,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-32.0,1
2,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-30.0,1
3,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-29.0,1
4,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,1.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,-28.0,1

In [6]:
# drop columns whose data is not being analyzed for this project

sru = sru.drop(columns=['PATIENTNUMBER','SITE','PATIENTID','VISITID','TFB002A_UNIT','TFB002A_NORM','TFB002B',
'TFB003A_UNIT','TFB003A_NORM','VISITDT','VISITDT_DT','TFB001', 'TFB001A_UNIT','TFB001A_NORM','TFB001C','TFB011A_UNIT','TFB011A_NORM','TFB011B','TFB011C','TFB010A_UNIT','TFB010A_NORM','TFB010B','TFB009A_UNIT','TFB009A_NORM','TFB009B','TFB004A_UNIT','TFB004A_NORM','TFB004B','TFB005A_UNIT','TFB005A_NORM','TFB005B','TFB006A_UNIT','TFB006A_NORM','TFB006B','TFB007A_UNIT','TFB007A_NORM','TFB007B','TFB008A_UNIT','TFB008A_NORM','TFB008B','TFB003B','TFB001_dt'], axis=1)

In [7]:
# eyeball columns to see what's left

sru.head()

,VISIT,TFB002A,TFB003A,TFB001A,TFB001B,TFB011A,TFB010A,TFB009A,TFB004A,TFB005A,TFB006A,TFB007A,TFB008A,patdeid
0,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
1,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
3,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

In [8]:
# rename columns according to documentation for interpretability

new_columns = {'TFB001B':'alc_qty','TFB002A':'sru_cannabis','TFB003A':'sru_cocaine','TFB001A':'sru_alcohol','TFB011A':'sru_other','TFB010A':'sru_oxycodone','TFB009A':'sru_methadone','TFB004A':'sru_amphetamine','TFB005A':'sru_methamphetamine','TFB006A':'sru_opiates','TFB007A':'sru_benzodiazepines','TFB008A':'sru_propoxyphene'}

In [9]:
# renaming columns

sru = sru.rename(columns=new_columns)

sru.head()

,VISIT,sru_cannabis,sru_cocaine,sru_alcohol,alc_qty,sru_other,sru_oxycodone,sru_methadone,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,patdeid
0,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
1,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
3,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,BASELINE,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1

In [10]:
# reorder index for easier interpretation

sru = sru.reindex(columns=['patdeid','VISIT','sru_alcohol','alc_qty','sru_cannabis','sru_cocaine','sru_amphetamine','sru_methamphetamine','sru_opiates','sru_benzodiazepines','sru_propoxyphene','sru_methadone','sru_oxycodone','sru_other'])

In [ ]:
# eyball column name change

sru.head()

,patdeid,VISIT,sru_alcohol,alc_qty,sru_cannabis,sru_cocaine,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,sru_methadone,sru_oxycodone,sru_other
0,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,BASELINE,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# display value counts for features other than first column, the display again with normalize=True parameter to see percentages

for col in sru.columns:
    if col != 'patdeid':
        print(sru[col].value_counts())
        print('----------------------')
        print(sru[col].value_counts(normalize=True))
        print('----------------------')
        print('----------------------')

VISIT
BASELINE    47412
WK4         12150
WK24         7764
WK32         7436
WK8          7379
WK12         7040
WK16         5979
WK20         5358
Name: count, dtype: int64
----------------------
VISIT
BASELINE    0.471677
WK4         0.120874
WK24        0.077240
WK32        0.073977
WK8         0.073410
WK12        0.070037
WK16        0.059482
WK20        0.053304
Name: proportion, dtype: float64
----------------------
----------------------
sru_alcohol
0.0    91005
1.0     9274
Name: count, dtype: int64
----------------------
sru_alcohol
0.0    0.907518
1.0    0.092482
Name: proportion, dtype: float64
----------------------
----------------------
alc_qty
2 beers                                            804
1 beer                                             783
4 drinks                                           599
2 drinks                                           396
3 beers                                            369
                                                  ...
4-5 Beers                                            1
4 Pints of Beer PO                                   1
5 Pints of Beer                                      1
5 Pints Beer, 3 Mixed Drinks, 1 Glass Champagne      1
5  12 oz. bottles                                    1
Name: count, Length: 1099, dtype: int64
----------------------
alc_qty
2 beers                                            0.086703
1 beer                                             0.084439
4 drinks                                           0.064596
2 drinks                                           0.042705
3 beers                                            0.039793
                                                     ...
4-5 Beers                                          0.000108
4 Pints of Beer PO                                 0.000108
5 Pints of Beer                                    0.000108
5 Pints Beer, 3 Mixed Drinks, 1 Glass Champagne    0.000108
5  12 oz. bottles                                  0.000108
Name: proportion, Length: 1099, dtype: float64
----------------------
----------------------
sru_cannabis
0.0    80495
1.0    19784
Name: count, dtype: int64
----------------------
sru_cannabis
0.0    0.80271
1.0    0.19729
Name: proportion, dtype: float64
----------------------
----------------------
sru_cocaine
0.0    82511
1.0    17768
Name: count, dtype: int64
----------------------
sru_cocaine
0.0    0.822814
1.0    0.177186
Name: proportion, dtype: float64
----------------------
----------------------
sru_amphetamine
0.0    99628
1.0      651
Name: count, dtype: int64
----------------------
sru_amphetamine
0.0    0.993508
1.0    0.006492
Name: proportion, dtype: float64
----------------------
----------------------
sru_methamphetamine
0.0    97080
1.0     3199
Name: count, dtype: int64
----------------------
sru_methamphetamine
0.0    0.968099
1.0    0.031901
Name: proportion, dtype: float64
----------------------
----------------------
sru_opiates
1.0    59566
0.0    40713
Name: count, dtype: int64
----------------------
sru_opiates
1.0    0.594003
0.0    0.405997
Name: proportion, dtype: float64
----------------------
----------------------
sru_benzodiazepines
0.0    96469
1.0     3810
Name: count, dtype: int64
----------------------
sru_benzodiazepines
0.0    0.962006
1.0    0.037994
Name: proportion, dtype: float64
----------------------
----------------------
sru_propoxyphene
0.0    100238
1.0        41
Name: count, dtype: int64
----------------------
sru_propoxyphene
0.0    0.999591
1.0    0.000409
Name: proportion, dtype: float64
----------------------
----------------------
sru_methadone
0.0    97346
1.0     2933
Name: count, dtype: int64
----------------------
sru_methadone
0.0    0.970752
1.0    0.029248
Name: proportion, dtype: float64
----------------------
----------------------
sru_oxycodone
0.0    94990
1.0     5289
Name: count, dtype: int64
----------------------
sru_oxycodone
0.0    0.947257
1.0    0.052743
Name: proportion, dtype: float64
----------------------
----------------------
sru_other
0.0    98797
1.0     1482
Name: count, dtype: int64
----------------------
sru_other
0.0    0.985221
1.0    0.014779
Name: proportion, dtype: float64
----------------------
----------------------

In [12]:
# set filter to eyeball view by WK4 visit
sru[sru['VISIT']=='WK4']

,patdeid,VISIT,sru_alcohol,alc_qty,sru_cannabis,sru_cocaine,sru_amphetamine,sru_methamphetamine,sru_opiates,sru_benzodiazepines,sru_propoxyphene,sru_methadone,sru_oxycodone,sru_other
30,1,WK4,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
31,1,WK4,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32,1,WK4,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,2,WK4,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
66,2,WK4,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100397,1929,WK4,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100398,1929,WK4,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100485,1931,WK4,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
100486,1931,WK4,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
100487,1931,WK4,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# measure shape

sru.shape

(100518, 14)

In [14]:
# save to CSV to retriev in next layer of cleaning for merge

sru.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/self_reported_use.csv', index=False)