In [1]:
import pandas as pd
import numpy as np

In [2]:
uds = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRUDSAB.csv')

uds.head()

/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_60757/3293363241.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  uds = pd.read_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/raw_data_files/T_FRUDSAB.csv')

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,UDS013,UDS013_UNIT,UDS013_NORM,UDS013A,UDS005,...,UDS010,UDS010_UNIT,UDS010_NORM,UDS010A,UDS011,UDS011_UNIT,UDS011_NORM,UDS002_dt,AB001A_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,1.0,NaN,1.0,-2.0,-2.0,1
1,NaN,NaN,WK1,NaN,15037,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,6.0,6.0,1
2,NaN,NaN,WK2,NaN,15040,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16.0,16.0,1
3,NaN,NaN,WK3,NaN,15043,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,22.0,22.0,1
4,NaN,NaN,WK4,NaN,15046,0.0,NaN,0.0,NaN,1.0,...,1.0,NaN,1.0,NaN,0.0,NaN,0.0,34.0,34.0,1

In [3]:
uds.columns

Index(['PATIENTNUMBER', 'SITE', 'VISIT', 'PATIENTID', 'VISITID', 'UDS013',
       'UDS013_UNIT', 'UDS013_NORM', 'UDS013A', 'UDS005', 'UDS005_UNIT',
       'UDS005_NORM', 'UDS005A', 'AB001', 'AB001_UNIT', 'AB001_NORM', 'AB001A',
       'AB001B', 'AB001B_UNIT', 'AB001B_NORM', 'AB002', 'UDS001',
       'UDS001_UNIT', 'UDS001_NORM', 'UDS001A', 'UDS001A_UNIT', 'UDS001A_NORM',
       'UDS001B', 'UDS002', 'UDS003', 'UDS003_UNIT', 'UDS003_NORM', 'UDS004',
       'UDS004_UNIT', 'UDS004_NORM', 'UDS011A', 'UDS012', 'UDS012_UNIT',
       'UDS012_NORM', 'UDS012A', 'UDS006', 'UDS006_UNIT', 'UDS006_NORM',
       'UDS006A', 'UDS007', 'UDS007_UNIT', 'UDS007_NORM', 'UDS007A', 'UDS008',
       'UDS008_UNIT', 'UDS008_NORM', 'UDS008A', 'UDS009', 'UDS009_UNIT',
       'UDS009_NORM', 'UDS009A', 'UDS010', 'UDS010_UNIT', 'UDS010_NORM',
       'UDS010A', 'UDS011', 'UDS011_UNIT', 'UDS011_NORM', 'UDS002_dt',
       'AB001A_dt', 'patdeid'],
      dtype='object')

In [4]:
uds.head(1)

,PATIENTNUMBER,SITE,VISIT,PATIENTID,VISITID,UDS013,UDS013_UNIT,UDS013_NORM,UDS013A,UDS005,...,UDS010,UDS010_UNIT,UDS010_NORM,UDS010A,UDS011,UDS011_UNIT,UDS011_NORM,UDS002_dt,AB001A_dt,patdeid
0,NaN,NaN,BASELINE,NaN,15031,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,1.0,NaN,1.0,-2.0,-2.0,1

In [5]:
# drop columns that aren't being used for this project

uds = uds.drop(columns=[col for col in uds.columns if col not in ['patdeid','VISIT','AB001','AB001B','UDS001','UDS001A','UDS001B', 'UDS003', 'UDS004', 'UDS005', 'UDS006', 'UDS007', 'UDS008', 'UDS009', 'UDS010', 'UDS011', 'UDS012', 'UDS013']])

In [6]:
new_column_names = {'AB001':'t_alcohol','AB001B':'alc_result','UDS001':'urine_test','UDS001A':'refuse_reason','UDS001B':'other_reason', 'UDS003':'urine_temp','UDS004':'supervised','UDS005':'t_Amphetamines', 'UDS006':'t_Benzodiazapines','UDS007':'t_Methadone', 'UDS008':'t_Oxycodone', 'UDS009':'t_Cocaine', 'UDS010':'t_Methamphetamine', 'UDS011':'t_Opiate300', 'UDS012':'t_Cannabinoids', 'UDS013':'t_Propoxyphene'}

In [7]:
uds = uds.rename(columns=new_column_names)

uds.head(1)

,VISIT,t_Propoxyphene,t_Amphetamines,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Cannabinoids,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,patdeid
0,BASELINE,0.0,0.0,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1

In [8]:
uds = uds.reindex(columns=['patdeid','VISIT','t_alcohol','alc_result','urine_test','refuse_reason','other_reason','urine_temp','supervised','t_Amphetamines','t_Benzodiazapines', 't_Methadone','t_Oxycodone','t_Cocaine','t_Methamphetamine','t_Opiate300','t_Cannabinoids','t_Propoxyphene'])

uds.head(1)

,patdeid,VISIT,t_alcohol,alc_result,urine_test,refuse_reason,other_reason,urine_temp,supervised,t_Amphetamines,t_Benzodiazapines,t_Methadone,t_Oxycodone,t_Cocaine,t_Methamphetamine,t_Opiate300,t_Cannabinoids,t_Propoxyphene
0,1,BASELINE,1.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [9]:
uds.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24930 entries, 0 to 24929
Columns: 18 entries, patdeid to t_Propoxyphene
dtypes: float64(15), int64(1), object(2)
memory usage: 3.4+ MB

In [12]:
uds.loc[3]

patdeid                1
VISIT                WK3
t_alcohol            1.0
alc_result           0.0
urine_test           1.0
refuse_reason        NaN
other_reason         NaN
urine_temp           1.0
supervised           0.0
t_Amphetamines       0.0
t_Benzodiazapines    0.0
t_Methadone          0.0
t_Oxycodone          0.0
t_Cocaine            0.0
t_Methamphetamine    0.0
t_Opiate300          0.0
t_Cannabinoids       0.0
t_Propoxyphene       0.0
Name: 3, dtype: object

In [14]:
uds.loc[1].filter(like=1)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_60757/3115669720.py", line 1, in <module>
    uds.loc[1].filter(like=1)
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/pandas/core/generic.py", line 5546, in filter
    values = labels.map(f)
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/pandas/core/indexes/base.py", line 6161, in map
    new_values = self._map_values(mapper, na_action=na_action)
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/pandas/core/base.py", line 924, in _map_values
    new_values = map_f(values, mapper)
  File "pandas/_libs/lib.pyx", line 2834, in pandas._libs.lib.map_infer
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/pandas/core/generic.py", line 5544, in f
    return like in ensure_str(x)
TypeError: 'in <string>' requires string as left operand, not int

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1428, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1319, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1172, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1062, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1154, in get_records
    FrameInfo(
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/site-packages/IPython/core/ultratb.py", line 780, in __init__
    ix = inspect.getsourcelines(frame)
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/inspect.py", line 1006, in getsourcelines
    lines, lnum = findsource(object)
  File "/Users/danherman/miniconda3/envs/labs/lib/python3.9/inspect.py", line 827, in findsource
    raise OSError('source code not available')
OSError: source code not available

In [13]:
uds.to_csv('/Users/danherman/Desktop/oud_treatment_outcome/data/clean_data/urine_drug_screen.csv', index=False)